/* Estilos generales para el contenido */
.container {
    display: flex;
    min-height: 100vh;
    background-color: #f4f7fa;

}

/* Sección de contenido principal */
.content {
    flex-grow: 1;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: padding 0.3s ease;
    margin-top: 30px; /* Añadido para un mejor espaciado */

}
/* Estilo del botón de agregar cámara */
.buttonAdd {
    background-color: #3183d5;
    color: white;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-left: 20px;
}

.buttonAdd:hover {
    background-color: #1380ee;
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}



/* extraccion.module.css */

.modalOverlay {

  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out; /* Animación de desvanecimiento al abrir el modal */
  z-index: 1000;
}

.modalContent {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  animation: scaleUp 0.3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.buttonAddModal {
  background-color: #3183d5; /* Color de fondo */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 110px;
}

.buttonAddModal:hover {
  background-color: #1380ee; /* Hover effect */
  transition: background-color 0.3s ease;
}
