/* Estilos generales para el contenido */
.container {
    display: flex;
    min-height: 100vh;
    background-color: #f4f7fa;
    /* margin-left: 250px; */
}

/* Sección de contenido principal */
.content {
    flex-grow: 1;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: padding 0.3s ease;
    margin-top: 30px; /* Añadido para un mejor espaciado */
}

/* Título principal */
.title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; /* Añadido para estilo */
}

/* Estilo de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra a la tabla */
}

.table th, .table td {
    padding: 12px 20px;
    text-align: left;
    font-size: 1rem; /* Tamaño de fuente de la tabla */
}

/* Estilo de las cabeceras de la tabla */
.table th {
    background-color: #3498db;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase; /* Añadido para estilo */
}

/* Estilo para las filas alternas de la tabla */
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Efecto hover para las filas de la tabla */
.table tr:hover {
    background-color: #f1f1f1;
    transform: scale(1.02); /* Efecto de aumento suave al pasar el mouse */
    transition: transform 0.3s ease;
}

/* Estilo para cada fila de la tabla */
.row {
    border-bottom: 1px solid #ddd;
}

/* Estilo de las acciones en cada fila */
.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilo de los botones de acción con íconos */
.buttonEdit, .buttonDelete {
    padding: 10px 16px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 1.5rem; /* Aumentar tamaño de íconos */
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonEdit {
    background-color: #3498db;
    color: white;
}

.buttonEdit:hover {
    background-color: #0b5cb8;
    transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}

.buttonDelete {
    background-color: #d9534f;
    color: white;
}

.buttonDelete:hover {
    background-color: #c9302c;
    transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}

/* Contenedor de formulario para agregar nueva cámara */
.formContainer {
    margin-top: 40px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 20px;
}

/* Título del subtítulo */
.subTitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #555;
    font-weight: 500;
}

/* Estilo del botón de agregar cámara */
.buttonAdd {
    background-color: #3498db;
    color: white;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.buttonAdd:hover {
    background-color: #3183d5;
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}

/* Mejora para el diseño de botones flotantes */
.toggleBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.toggleBtn:hover {
    background-color: #2980b9;
}

.toggleIcon {
    font-size: 30px;
}



/* --- Estilos del Modal --- */

/* Estilo del Overlay para el Modal */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo del Modal */
.modal {
    background-color: white;
    padding: 30px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    animation: modalFadeIn 0.5s ease-in-out; /* Animación de entrada */
}

/* Animación de entrada */
@keyframes modalFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Título del Modal */
.modal h2 {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase; /* Hacer el título más destacado */
}

/* Estilos para el Formulario dentro del Modal */
.modalForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo para las etiquetas de los inputs */
.modalForm label {
    font-size: 1rem;
    color: #555;
    font-weight: 500;
}

/* Estilo para los inputs */
.modalForm input, .modalForm select {
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
    transition: border 0.3s ease;
}

.modalForm input:focus, .modalForm select:focus {
    border-color: #3498db;
}

/* Estilo de los botones dentro del Modal */
.modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Botón de cancelar */
.buttonCancel {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.buttonCancel:hover {
    background-color: #e0e0e0;
}

/* Botón de agregar */
.buttonAdd {
    background-color: #3498db;
    color: white;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.buttonAdd:hover {
    background-color: #3183d5;
}
